# Jupyter
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.pyc

# Virtual environments
venv/
dash/

# Environment variables
.env

# Database files (local only)
*.db

# Upload folders (ถ้ามีไฟล์ที่ไม่ต้องการแชร์)
uploads/
