# Jupyter
.ipynb_checkpoints/

# Python cache files
__pycache__/
**/__pycache__/

# Python cache
*.pyc

# Virtual environments
venv/
dash/

# Environment variables
.env

# Database files (local only)
*.db


# Database and uploads
*.db
uploads/
